@import "nib"
@import "normalize.styl"

green = #00887C
azul = #009FFF
gris = #eee

vendor-prefixes = webkit o moz ms //para coloar los prefijos con nib

body
	font-family 'Lato', sans-serif
/*Home*/	
img
	max-width 100%
		
.pacifico
	font-family 'Pacifico', cursive
.remove-float
	float none
.space-above
	margin-top 80px
.big
	font-size 3em
.green
	color green
a
.blue
	color azul
.right-space
	margin-right 1em
		
/*Menú*/
.no-list li
	list-style-type none
.no-list
	margin 0px
	padding 0px
.se-gris
	background-color gris
.padding-long
	padding 5px 10px
.inline-block
	float none
	display inline-block
	margin-right -4px
.lined-up
	vertical-align top
.means
	font-size 1.5em
.delay
	animation-delay 1s
.delay-2
	animation-delay 2s
	
	