<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title El mejor lugar para comer
	link(rel="stylesheet"  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
	link(href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet")
	link(href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet")
	link(rel="stylesheet"  href="/css/main.css")
	link(rel="stylesheet"  href="/css/animate.css")
body
	section(class="col-md-3 center-block remove-float text-center space-above")
		img(src="img/logo.png" class="animated fadeIn")
		h1(class="pacifico big green animated fadeIn delay") Comidas rápidas la gran tortuga
		div(class="animated fadeInDown delay-2")
		h2 Ven, come y disfruta
		nav(class="means")
			a(class="right-space" href="/menu") Menú
			a(class="right-space" href="contacto.html") Contacto
	script(src="https://code.jquery.com/jquery-2.1.1.min.js")
	script(src="main.js")


	