<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title El mejor lugar para comer
	link(rel="stylesheet"  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
	link(href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet")
	link(href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet")
	link(rel="stylesheet"  href="/css/main.css")
	link(rel="stylesheet"  href="/css/animate.css")
body
	nav
		ul(class="se-gris padding-long no-list text-center")
			li(class="col-md-3 inline-block pacifico")
				a(class="green means" href="index.html") Comidas rápidas la gran tortuga 
			li(class="col-md-3 inline-block")
				a(href="menu.html") Menú
			li(class="col-md-3 inline-block")
				a(href="contacto.html") Contacto
	block contenido