extends ../layout.jade
block contenido
	div(class="col-md-5 center-block remove-float space-above text-left")
		h1 Editar Producto
		form(method="POST" action="/menu/#{product.id}?_method=put" style="margin-top:1.5em;" enctype="multipart/form-data")
			div(class="form-group")
				label Nombre
				input(type="text" name="title" value="#{product.title}" placeholder="Nombre del producto" class="form-control")
			div(class="form-group")
				label Descripción
				textarea(name="descripcion" placeholder="Descripcion del producto" class="form-control")
					=product.descripcion
			div(class="form-group")
				label Costo
				input(type="number" name="pricing" value="#{product.pricing}" placeholder="Costo" class="form-control")
			div(class="form-group")
				label Imagen del producto
				input(type="file" name="image_avatar")
			div(class="form-group")
				label Contraseña
				input(type="password" name="password" placeholder="Contraseña" class="form-control")
			div(class="form-group text-right")
				input(type="submit" value="Guarda" class="btn btn-info")



